.footer-container{
    position: relative;
}

.footer>hr{
    border: 1px solid var(--lightgray);
}

.footer{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 20rem;
}

.social-links{
    display: flex;
    gap: 4rem;
}

.social-links>.social-icons{
    color: white;
    cursor: pointer;
}

.social-links>.social-icons:hover{
    color: var(--orange);
    cursor: pointer;
}

.logo-f>img{
    width: 10rem;
}

.blur-footer-1{
    /* top: 0; */
    /* bottom: 4; */
    right: 15%;
    width: 26rem;
    height: 12rem;
    filter: blur(230px);
    background: red;
}

.blur-footer-2{
    /* top: 0; */
    /* bottom: 4; */
    left: 15%;
    width: 26rem;
    height: 12rem;
    filter: blur(230px);
    background: rgba(255,115,0);
}